
<!DOCTYPE html>
<html>
<head>
    <script>
(function(w,i,g){w[g]=w[g]||[];if(typeof w[g].push=='function')w[g].push(i)})
(window,'GTM-MMVJT5G','google_tags_first_party');</script>
    <script>
(function(w,d,s,l){w[l]=w[l]||[];(function(){w[l].push(arguments);})('set', 'developer_id.dY2E1Nz', true);
		var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s);j.async=true;j.src='/gtganalytics/';
		f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer');</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>realtorsportal.com.vn</title>
    <style>
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a:active {
            text-decoration: underline;
        }

        a {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container body-content">

        <center>
            <a href="~/Home">realtorsportal.com.vn</a>
            <hr />
            Staticfile hosting
        </center>

    </div>


    <script defer src="~/Content/clients/js/beacon.min.js" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"990ab3719c4704bc","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.9.1","token":"2559dc66ad8646d0be1eff7b03983020"}' crossorigin="anonymous"></script>
</body>
</html>
